.paymentReceipt {
  display: inline-block;
  vertical-align: top;
  position: sticky;
  top: 100px;
  width: 280px;
  padding: 20px 0 0 0;
  margin-left: 40px;
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  color: #333;

  h2,
  span {
    font-size: 14px;
    font-weight: 600;
  }

  .paymentReceiptContainer {
    width: 100%;

    .paymentReceiptList {
      width: 100%;

      .paymentReceiptTotalPrice {
        display: flex;
        justify-content: space-between;
        margin: 0 20px 0 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;
      }
    }

    .paymentReceiptDisCountWrap {
      margin: 20px 20px 0 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e6e6e6;

      .disCountWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;

        .disCount {
          color: #fd5c5c;
        }
      }

      .disCountPrice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        color: #666666;
      }
    }

    .paymentReceiptPoint {
      display: flex;
      justify-content: space-between;
      margin: 20px 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e6e6e6;

      .point {
        display: flex;
      }

      .pointPrice {
        display: flex;
        color: #fd5c5c;
      }
    }

    .paymentReceiptDelivery {
      display: flex;
      justify-content: space-between;
      margin: 20px 20px;
      padding-bottom: 20px;
      border-bottom: 2px solid #e6e6e6;
    }

    .paymentReceiptTotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 20px;
      padding-bottom: 20px;

      .totalPrice {
        display: flex;
        font-size: 22px;
        font-weight: 600;
        color: #6c801a;
      }
    }

    .paymentBtn {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: #fff;
      background-color: #6c801a;
      border-radius: 0 0 8px 8px;

      &:disabled {
        background-color: #e6e6e6;
        color: #333;
      }
    }
  }
}
