.chip {
  text-align: center;
  border-radius: 150px;

  &[data-scale='small'] {
    width: 70px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    font-weight: 500;
  }

  &[data-scale='middle'] {
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 600;
  }

  &[data-checked='true'] {
    color: #fff;
    background-color: #a1af1b;
  }

  &[data-checked='false'] {
    color: #999;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
  }
}
