* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Bblack {
  background-color: #000000;
}
.Bgray60 {
  background-color: #999999;
}
.Bgray80 {
  background-color: #cccccc;
}
.Bgray88 {
  background-color: #e0e0e0;
}
.Bgary98 {
  background-color: #fafafa;
}
.Bwhite {
  background-color: #ffffff;
}
.Bblue {
  background-color: #2d71f7;
}
.Bnavy {
  background-color: #083e7f;
}
.Bred {
  background-color: #ff3636;
}
.Cwhite {
  color: white;
}
.Cblue {
  color: #2d71f7;
}
.Cnavy {
  color: #083e7f;
}
.Cred {
  color: red;
}
.Cgray60 {
  color: #999999;
}
.Cgray80 {
  color: #cccccc;
}
.Cgray88 {
  color: #e0e0e0;
}

.legend {
  font-size: 1px;
  position: absolute;
  z-index: -1;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration-line: none;
}
