$skyblue: #5c95f0;
$black: #313131;
$white: #ffffff;
$darkGreen: #6c801a;
$gray: #666;
$darkWhite: #ddd;
$lightGray: #e6e6e6;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin primary($bgColor, $color, $borderColor: null) {
  background-color: $bgColor;
  color: $color;
  border: 1px solid $borderColor;
}

@mixin secondary($bgColor, $color, $borderColor: null) {
  background-color: $bgColor;
  color: $color;
  border: 1px solid $borderColor;
}


@mixin bording($bgColor, $color, $borderColor: null) {
  background-color: $bgColor;
  color: $color;
  border: 1px solid $borderColor;
}

@mixin tertiary($bgColor, $color, $borderColor: null) {
  background-color: $bgColor;
  color: $color;
  border: 1px solid $borderColor;
}
