.iconBtn {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: all 0.3s ease-in-out;
  &:active {
    transform: scale(0.9);
  }

  &[img='close'] {
    width: 50px;
    height: 50px;
    background: url('../../../public/images/close.png') no-repeat 50% / cover;
  }

  &[img='kakao'] {
    width: 50px;
    background: url('../../../public/images/kakao-talk.png') no-repeat;
    background-position: top 0 left 0;
    background-size: contain;
    padding-top: 60px;
  }

  &[img='cart'] {
    width: 50px;
    height: 50px;
    background: url('../../../public/images/sh-cart.png') no-repeat 50% / 50px;
    opacity: 0.5;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }
  &[img='gift'] {
    width: 50px;
    height: 50px;
    background: url('../../../public/images/gift.png') no-repeat 50% / 50px;
    border-radius: 50px;
    opacity: 0.5;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  &[img='left'] {
    width: 50px;
    height: 50px;
    background: url('../../../public/images/left.svg') no-repeat 50% / 15px;
    border: 1px solid #ddd;
    opacity: 0.5;
  }

  &[img='doubleLeft'] {
    width: 50px;
    height: 50px;
    background: url('../../../public/images/doubleleft.svg') no-repeat 50% /
      20px;
    border: 1px solid #ddd;
    opacity: 0.5;
  }

  &[img='right'] {
    width: 50px;
    height: 50px;
    background: url('../../../public/images/right.svg') no-repeat 50% / 15px;
    border: 1px solid #ddd;
    opacity: 0.5;
  }

  &[img='doubleRight'] {
    width: 50px;
    height: 50px;
    background: url('../../../public/images/doubleright.svg') no-repeat 50% /
      20px;
    border: 1px solid #ddd;
    opacity: 0.5;
  }


  &[img='heart'] {
    width: 45px;
    height: 45px;
    background: url('../../../public/images/heart.png') no-repeat;
    background-position: top 0 left 0;
    background-size: contain;
    background-color: #c8c4c424;
    border-radius: 50px;

    &.on {
      width: 45px;
      height: 45px;
      background: url('../../../public/images/heartOn.png') no-repeat;
      background-position: top 0 left 0;
      background-size: contain;
      background-color: #c8c4c424;
      border-radius: 50px;
    }

  &[img='plus'] {
    width: 50px;
    height: 50px;
    background: url('../../../public/images/plus.png') no-repeat 50% / 20px;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 6px 6px 0; // 왼쪽 위 오른쪽 위 오른쪽 아래 왼쪽 아래
    opacity: 0.8;
  }

  &[img='minus'] {
    width: 50px;
    height: 50px;
    background: url('../../../public/images/minus.png') no-repeat 50% / 20px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    opacity: 0.8;

  }
}
