.nav + .payment {
  margin-top: 80px;
}

.payment {
  width: 100%;
  min-width: 1240px;
  margin: 0 auto;

  .paymentInnerWrap {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;

    .paymentUserInfoTable {
      width: 100%;

      caption {
        visibility: hidden;
        overflow: hidden;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
      }
    }
  }

  .paymentTitle {
    display: inline-block;
    width: 100%;
    max-width: 1240px;

    .paymentHeader {
      padding: 0 60px;

      .title {
        line-height: initial;
        font-size: 30px;
        font-weight: 600;
        padding: 48px 0 30px;
        color: #333;
      }
    }
  }

  .paymentFormOrder {
    display: block;
    width: 100%;
    max-width: 1240px;
    height: auto;
    padding: 0 60px;
    margin: 0 auto;

    .paymentInfo {
      display: inline-block;
      width: 70%;
      height: 60px;
      line-height: 60px;
      border-top: 2px solid #333;
      user-select: none;

      & .paymentUserInfoTitle {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;

        & .paymentUserInfo {
          display: flex;
          font-size: 20px;
          font-weight: 600;
          user-select: none;
        }

        & .paymentUserName {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 16px;
          font-weight: 400;
          color: #6c801a;
          user-select: none;

          & span::after {
            content: url('../../../public/images/down-arrow.png');
            margin-left: 10px;
            margin-top: 5px;
            padding-left: 10px;
          }

          &.modalOn span::after {
            content: url('../../../public/images/up-arrow.png');
            padding-left: 10px;
          }
        }
      }

      .userName {
        display: flex;
        align-items: center;
      }
    }
  }

  .paymentUserInfoDelivery {
    padding: 0 20px 60px;
    border-top: 1px solid #e6e6e6;

    .paymentDeliveryInfo {
      display: flex;
      font-size: 20px;
      font-weight: 600;
      user-select: none;
    }
  }

  .paymentUserInfoItem {
    padding: 0 20px 60px;

    .itemInfoText {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #e6e6e6;

      &.modalOn {
        border-top: 1px solid #333;
      }

      .paymentItemInfo {
        display: flex;
        font-size: 20px;
        font-weight: 600;
        user-select: none;
      }

      & span::after {
        content: url('../../../public/images/down-arrow.png');
        padding-left: 10px;
      }

      &.modalOn span::after {
        content: url('../../../public/images/up-arrow.png');
        padding-left: 10px;
      }
    }
  }

  .paymentDisCount {
    width: 100%;

    & .modalOn {
      border-top: 1px solid #333;
    }

    .paymentDisCountWrapTitle {
      display: flex;
      justify-content: space-between;

      & span {
        font-size: 14px;
        color: #6c801a;
      }

      .disCountTitle {
        display: flex;
        font-size: 20px;
        font-weight: 600;
        user-select: none;
      }

      & span::after {
        content: url('../../../public/images/down-arrow.png');
        padding-left: 10px;
      }

      &.modalOn span::after {
        content: url('../../../public/images/up-arrow.png');
        padding-left: 10px;
      }
    }
  }

  .paymentSelect {
    width: 100%;

    .paymentSelectWrapTitle {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;

      .selectTitle {
        display: flex;
        font-size: 20px;
        font-weight: 600;
        user-select: none;

        & ~ span {
          font-size: 14px;
          color: #6c801a;
        }

        & ~ span::after {
          content: url('../../../public/images/down-arrow.png');
          padding-left: 10px;
        }
      }

      &.modalOn span::after {
        content: url('../../../public/images/up-arrow.png');
        padding-left: 10px;
      }

      &.modalOn {
        border-top: 1px solid #333;
      }
    }
  }
}
