.paymentDisCountWrap {
  background-color: #f6f6f6;
  border-radius: 4px;
  padding: 24px 24px 40px 24px;

  .itemDisCountWrap {
    display: flex;
    flex-direction: column;
    line-height: 20px;

    .itemDisCountTitle {
      line-height: 20px;
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 10px;
    }

    .titleWrap {
      display: flex;

      & .label {
        flex: 1;
      }
    }

    .couponWrap {
      display: flex;

      & span {
        font-size: 14px;
        color: #666;
      }

      & strong {
        font-size: 15px;
        color: #333;
        font-weight: 600;
      }

      & .itemDisCountTitle::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 15px;
        margin: 0 10px;
        vertical-align: middle;
        background-color: #ddd;
      }
    }
  }
}
